/* Fonts */
@font-face {
   font-family: "BebasNeue-Regular";
   src: url('fonts/BebasNeue-Regular.otf');
}

@font-face{
    font-family: "Damias_Hand";
    src: url('fonts/Damias_Hand.ttf');
}

@font-face{
    font-family: "Lost";
    src: url('fonts/Lost.ttf');
}

@font-face{
    font-family: "BalooThambi-Regular";
    src: url('fonts/BalooThambi-Regular.ttf');
}

/*Roboto: font-family: 'Roboto', sans-serif;*/

/* HEADER - NAVBAR */
header {
    font-family: "BebasNeue-Regular";
    font-size: 200%;
}
#isoti {
    width: 11vw;
}
#logoti {
    width: 40vw;
}
.navbar-nav {
    text-align: center;
}
.icons
{
    display: flex;
    -webkit-padding-start: 0;
    padding: 2% 0;
    margin-bottom: 0;
    justify-content: center;
}
.icons li
{
    list-style: none;
}
.icons li a
{
    min-width: 40px;
    min-height: 40px;
    background: #5cd65c;
    text-align: center;
    line-height: 40px;
    font-size:20px;
    margin: 0 7px;
    display: block;
    border-radius: 50%;
    color: white; 
}
.menulisticon:hover a
{
    color: yellow;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #logo {
        width: 10vw;
    }
    .navbar-nav {
        padding-left: 15% !important;
    }
    .icons {
        padding-left: 20%;
    }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #logo{
        width: 70%;
    }
}
.shadow {
    box-shadow: 0 7px 10px -6px #ccc;
}
/*HEADER - NAVBAR END*/

/*BANNER*/
#mainbanner {
    position: relative;
    top: 0;
    min-height: 267px;
    margin: 1vh 0;
    overflow: hidden;
}
#unlimitedpty {
    position: absolute;
    top: 35%;
    z-index: 1;
    font-family: "BalooThambi-Regular";
    font-size: 18px;
    color: black;
}
#logotipo {
    position: relative;
    top: 0;
    width: 30vw;
    min-width: 300px;
    
}
#kidsimg {
    width: 30vw;
    min-width: 400px;
    box-shadow: 0 0 100px 60px white inset;
    float: right;
}
#kidsimg > img {
    position: relative;
    top: 0;
    width: 30vw;
    min-width: 400px;
    z-index: -1;
}
/*BANNER END*/

/*SERVICIOS*/
.servicios {
    margin: 3vh 0;
}
.servtitle {
    margin: 4vh 0;
    font-family: "Lost" !important;
}
.btn-servicio {
    display: block;
    padding: 5px;
}
.servicon {
    display: block;
}
.servicon img {
    height: 110px;
    width: 110px;
}
.servname {
    font-family: "Lost";
    font-size: 18px;
    color: #000;
}
.btn-servicio:hover {
    text-decoration: none !important;
}
.btn-servicio:hover .servname {
    color: red;
}

/*SERVICIOS END*/

/*FOOTER*/
footer {
    text-align: center;
}
.upfoot {
    background: #bcbcbc;
    font-family: 'BalooThambi-Regular', sans-serif;
    font-size: 2vh;
    color: #ffffff;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.contries {
    font-size: 16px;
}
.contries div {
    margin-top: 1vh;
}
.botfoot {
    background: #b2b2b2;
    font-family: 'BalooThambi-Regular', sans-serif;
    color: #ffffff;
    font-size: 80%;
    line-height: 250%;
}
/*FOOTER END*/