/* Fonts */

@font-face {
   font-family: "BebasNeue-Regular";
   src: url('fonts/BebasNeue-Regular.otf');
}

@font-face{
    font-family: "Lato-Regular";
    src: url('fonts/Lato-Regular.ttf');
}
@font-face{
    font-family: "Lato-Hairline";
    src: url('fonts/Lato-Hairline.ttf');
}

/* HEADER - NAVBAR */
header {
    font-family: "BebasNeue-Regular";
    font-size: 200%;
}
#isoti {
    width: 11vw;
}
#logoti {
    width: 40vw;
}
.navbar-nav {
    text-align: center;
}
.icons
{
    display: flex;
    -webkit-padding-start: 0;
    padding: 2% 0;
    justify-content: center;
}
.icons li
{
    list-style: none;
}
.icons li a
{
    min-width: 40px;
    min-height: 40px;
    background: #5cd65c;
    text-align: center;
    line-height: 40px;
    font-size:20px;
    margin: 0 7px;
    display: block;
    border-radius: 50%;
    color: white; 
}
.menulisticon:hover a
{
    color: yellow;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #logo{
        width: 10vw;
    }
    .navbar-brand{
        margin-right: 2rem !important;
    }
    .icons{
        padding-left: 65%;
        padding-top: 6%;
    }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #logo{
        width: 70%;
    }
}
.shadow {
    box-shadow: 0 7px 10px -6px #ccc;
}
/*HEADER - NAVBAR END*/

/*BANNER*/
/*BANNER END*/

/*SERVICIOS*/
/*SERVICIOS END*/